.img-table{
    width: 150px;
    height: 150px;
}
body{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    background-color: #262626;
}
#query{
    margin-bottom: 15px;
}
#rodape{
    float: right;
    position: absolute;
    bottom: 0;
}
html, body{
    height: 100%;
}
#pagina{
    min-height: 100%;
    position: relative;
}
* html #pagina{
  height: 100%;  
}
#conteudo{
    padding-bottom: 55px;
}
h1, h2{
    color: #ffffff;
}
.invisivel{
    display: none;
}